# Virtual Environment
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# Environment Variables
.env

# QR Codes
static/qr_codes/*.png

# Uploads
uploads/

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db